body > .container {
	padding-top: 60px;
}

.navbar-nav > li > select {
	margin-top: 8px;
}

.form-control.readonly {
	display: block;
    background-color: #eeeeee;
    white-space: nowrap;
  	overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}